@model BillEditionViewModel

@{
    ViewData["Title"] = "Bill Creation";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Référence</label>
                <input class="form-control" value="@Model.Bill.Num-@Model.Bill.Year" readonly />
                <input hidden asp-for="Bill.Num" />
                <input hidden asp-for="Bill.Year" />
            </div>
            <div class="form-group">
                <label asp-for="Bill.Objet" class="control-label"></label>
                <input asp-for="Bill.Objet" class="form-control" />
                <span asp-validation-for="Bill.Objet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.ClientId" class="control-label">Client</label>
                <select name="clientSelect" asp-for="Bill.ClientId" class="form-control" asp-items="@Model.Clients"></select>
                <input hidden asp-for="Clients" />
            </div>
            <div class="form-group">
                <label asp-for="Bill.Date" class="control-label"></label>
                <input asp-for="Bill.Date" class="form-control" />
                <span asp-validation-for="Bill.Date" class="text-danger"></span>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>
                            Quantité
                        </th>
                        <th>
                            Prix unitaire
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Bill.LibelleList != null)
                    {
                        @foreach (var libelle in @Model.Bill.LibelleList)
                        {
                            <tr>
                                <td>
                                    <input asp-for="@libelle.Content" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="@libelle.PrixU" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="@libelle.Quantite" class="form-control" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <input hidden asp-for="Bill.LibelleList" />
            <input type="submit" asp-action="AddLibelle" value="Ajouter un libellé" />

            <div class="form-group">
                <label asp-for="Bill.Total" class="control-label"></label>
                <input asp-for="Bill.Total" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Bill.ModeR" class="control-label"></label>
                <select asp-for="Bill.ModeR" class="form-control" asp-items="Html.GetEnumSelectList<Common.EntityModels.PayementWay>()"></select>
                <span asp-validation-for="Bill.ModeR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.DateP" class="control-label"></label>
                <input asp-for="Bill.DateP" class="form-control" />
                <span asp-validation-for="Bill.DateP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
