@model BillDisplayViewModel

@{
    ViewData["Title"] = "Bill Deletion";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Référence
        </dt>
        <dd class = "col-sm-10">
            @Model.bill.Num-@Model.bill.Year
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bill.Objet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bill.Objet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bill.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bill.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bill.ModeR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bill.ModeR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bill.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bill.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bill.DateP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bill.DateP)
        </dd>
        <dt class = "col-sm-2">
            Client
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="bill.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
