@model Common.EntityModels.Bill

@{
    ViewData["Title"] = "Bill Details";
}


<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Référence
        </dt>
        <dd class = "col-sm-10">
            @Model.Num-@Model.Year
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
