@model IEnumerable<BillDisplayViewModel>

@{
    ViewData["Title"] = "Bills List";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Référence
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bill.Objet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bill.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bill.ModeR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bill.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bill.DateP)
            </th>
            <th>
                Client
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.bill.Num-@item.bill.Year
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bill.Objet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bill.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bill.ModeR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bill.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bill.DateP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.bill.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.bill.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.bill.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
