@model EstimateDisplayViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF</title>
    <link rel="stylesheet" href="~/css/pdf.css" />
</head>
<body>
    <div id="profilCadre">
        <p>NOUVELLE LUNE <br/>
        Les grandes terres <br />
        Vertbois <br />
        71340 St Bonnet de Cray</p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="large"><strong>DEVIS N&deg; @Model.estimate.Num-@Model.estimate.Year</strong></p>
    <p>Date : @Model.estimate.Date.ToShortDateString()</p>
    <p class="text-right">@if (Model.estimate.Client.Civil != Common.EntityModels.Title.Société) {@Model.estimate.Client.Civil} @Model.clientName</p>
    <p>&nbsp;</p>
    <p class="large">Objet : @Model.estimate.Objet</p>
    <table id="wordingsTable">
        <tbody>
            <tr class="headerLine">
                <th class="headerCell" id="designationCell"><strong><span class=".text-white">D&eacute;signation</span></strong></th>
                <th class="headerCell headerCellOthers"><strong><span class=".text-white">P.U. HT</span></strong></th>
                <th class="headerCell headerCellOthers"><strong><span class=".text-white">Quantit&eacute;</span></strong></th>
                <th class="headerCell headerCellOthers"><strong><span class=".text-white">Total HT</span></strong></th>
            </tr>
            @for (int i = 0; i < Model.estimate.LibelleList.Count; i++)
            {
                <tr>
                    <td class="line">@Model.estimate.LibelleList.ElementAt(i).Content</td>
                    <td class="line text-right">@Model.estimate.LibelleList.ElementAt(i).PrixU &euro;</td>
                    <td class="line text-right">@Model.estimate.LibelleList.ElementAt(i).Quantite</td>
                    @{ 
                        float total = Model.estimate.LibelleList.ElementAt(i).PrixU * Model.estimate.LibelleList.ElementAt(i).Quantite;
                    }
                    <td class="line text-right">@total &euro;</td>
                </tr>
            }
        </tbody>
    </table>
    <table id="TotalTable">
        <tbody>
            <tr>
                <td class="headerCell headerLine"><strong>Total HT</strong></td>
                <td class="line text-right">@Model.estimate.Total &euro;</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <p class="text-right">TVA non applicable, art. 293B du CGI</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="spaced">
        Date limite de r&egrave;glement : @Model.estimate.Date.AddDays(7).ToShortDateString() (&agrave; reception de la facture) <br />
        Taux des p&eacute;nalit&eacute;s en cas de retard de paiement : taux directeur de refinancement de la BCE, major&eacute; de 10 points <br />
        En cas de retard de paiement, indemnit&eacute; forfaitaire l&eacute;gale pour frais de recouvrement : 40,00&euro; <br />
        Escompte en cas de paiement anticip&eacute; : aucun
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p id="Credit" class="spaced large">Nouvelle Lune - RNA : W713004346 <br/>
    Email : <a href="mailto:isgarrigues@free.fr">isgarrigues@free.fr</a>&nbsp;- T&eacute;l : 07 82 19 88 55</p>
</body>
</html>
